ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links{
    text-align:center;
}

.jumbotron{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.jumbotron #pic{
  float:left;
}

.jumbotron #text{
  overflow: hidden;
  padding-left: 50px;
  padding-top:15px;
  padding-bottom:25px;

}

img{
    max-width: 200px;
    height: auto;
}

.projects{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.projects h1{
    text-align:center;
}
